<h1>Add a Stylist</h1>
<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="stylist_name">Stylist name</label>
  <input id="stylist_name" name="stylist_name" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/stylists">Back to stylists.</a></p>
