<h2><em>Add a new specialty</em></h2>

<form action="/specialties" method="post">
    <label for="specialtyStyle">Specialty name:</label>
    <input id="specialtyStyle" name="specialtyStyle" type="text">
    <button type="submit">Add Specialty</button>
</form>

<a href="/specialties">Return to list of Specialties</a>
<a href="/">Return to homepage</a>
