<h1>Add a new client to @Model.stylist_name's list</h1>

<form action='/stylists/@Model.stylist_id/clients/new' method='POST'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.stylist_id'>
  <label for='clientName'>Client Name: </label>
  <input id='clientName' name='clientName' type='text'>
  <button type='submit'>Add client</button>
</form>
